@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 45px;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  text-align: center;
}

.list-container {
  padding: 1%;
}

.list-element {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 10px 0 10px;
  border: yellow 2px solid;
  justify-content: space-between;
  border-radius: 30px;
  margin-top: 5px;

}

/* .list-element:hover {
  opacity: 0.5;
} */

.title {
  color: red;
  font-size: 3vw;
}

.text-field-input {
  border-radius: 10px; 
}

.checkbox {
  margin-right: 15px;
}

button {
  margin: 10px;
  border-radius: 10px;

}

button:hover {
  opacity: 0.3;
}
