@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 45px;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: inline;
  padding: 15px;
  color: white;
  background-color: yellow;
  font-size: 3vw;
}

.bold {
  font-weight: 600;
}

.text-field-input {
  border-radius: 10px; 
}

.list-container {
  padding: 1%;
}

.list-element {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 10px 0 10px;
  border: yellow 2px solid;
  justify-content: space-between;
  border-radius: 30px;
  margin-top: 5px;
}

.checkbox {
  margin-right: 15px;
}

button {
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  color: white;

}

button:hover {
  opacity: 0.3;
}

.boton-eliminar {
  background-color: #D9483B;
}

.boton-editar {
  background-color: #3F9BBF;

}

.boton-crear-actualizar {
  background-color: #41A677;
  
}
